.question-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.question-radio-button {
  margin: 5px;
}

.question-selected-value {
  margin: 15px 0;
}

.question-card {
  margin: auto;
  margin-top: 50px;
  max-width: 750px;
  text-align: left;
}

.submit-button {
  margin-top: 15px;
}

.footer-image {
  vertical-align: bottom;
}

.checkbox-margin {
  display: flex;
  align-content: center;
  align-items: center;
  height: 40px;
}

.right-align {
  text-align: right;
}
