<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>AWSQuiz</mat-toolbar>
    <mat-nav-list>

      <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <a mat-list-item (click)="auth.logout({ returnTo: document.location.origin })">
          Log out
        </a>
      </ng-container>

      <ng-template #loggedOut>
        <a mat-list-item (click)="auth.loginWithRedirect()">Log in</a>
      </ng-template>

      <a
      mat-list-item
      *ngIf="auth.isAuthenticated$ | async"
      routerLink="/profile">
      Profile
    </a>
      <a mat-list-item routerLink="/quiz">Quiz</a>
      <a mat-list-item routerLink="/leaderboard" routerLinkActive="active"
      >Leaderboard
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span routerLink="/">AWS-Quiz</span>
    </mat-toolbar>
<!-- Routed Components Show Up Here-->
    <router-outlet></router-outlet>
<!---->
  </mat-sidenav-content>
</mat-sidenav-container>
