<mat-card class="home-card">
  <mat-card-header>
    <div mat-card-avatar class="home-card-image"></div>
    <mat-card-title>
      Welcome to AWS-Quiz!
    </mat-card-title>
    <mat-card-subtitle>
      <h2>
        To get started, select a subject to test on...
      </h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form class="home-form" [formGroup]="userForm">
      <mat-form-field>
        <mat-label>Subject</mat-label>
        <mat-select formControlName="subject">
          <mat-option *ngFor="let subject of subjects" [value]="subject.value">
            {{ subject.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

  </mat-card-content>
</mat-card>

<div *ngIf="userForm.dirty">
  <button (click)="startQuiz(userForm)" mat-raised-button color="accent">Start Quiz</button>
</div>

