<mat-card class="home-card">
  <mat-card-header>
    <div mat-card-avatar>
      <!-- <img src="/assets/images/aws_logo.png" class="aws-avatar"/> -->
    </div>
    <mat-card-title class="home-title">
      <h1>Prepare for the Solutions Architect Certification - SAA-C02</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h3>
        To get started, select a subject to test on...
      </h3>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>


  </mat-card-content>
</mat-card>


<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile *ngFor="let subject of subjects">
    <mat-card class="subject-card">
      <mat-card-header>
        <div mat-card-avatar > <img src="{{subject.image}}" class="mat-card-avatar"></div>
        <mat-card-title>{{subject.viewValue}}</mat-card-title>
        <mat-card-subtitle *ngIf="subject.enabled">20 Questions</mat-card-subtitle>
        <mat-card-subtitle *ngIf="!subject.enabled">Coming Soon!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>

        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
        (click)="startQuiz(subject.value)"
        mat-raised-button
        color="accent"
        [disabled]="!subject.enabled"
        >
        Start Quiz
      </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
