.subject-card {
  min-width: 280px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-top: 10px;
}

.mat-card-avatar {
  height: 25;
  width: 25;
}

.quiz-card-image {
  width: 150px;
  height: 150px;
}

.mat-raised-button {
  width: 100%;
}
